<% layout("layouts/boilerplate.ejs") -%>
<div class="row">
    <h2 class="col-6 offset-3 mt-2 ">Login For Wanderlust</h2>
    <div class="col-6 offset-3 "> 
        <form method="post" action="/login" novalidate class="needs-validation">
             <div class="">
              <label for="username" class="form-label">username</label>
              <input name="username"  
              type="text"
              id="username"
               class="form-control"
               required
              />
              <div class="valid-feedback">looks good</div><br>
              </div>
      <div class="mb-3">
              <label for="password" class="form-label" novalidate class="needs-validation">password</label>
              <input name="password"
              id="password"  
              type="password"
               class="form-control"
               required
              />
        </div>
        <button class="btn btn-success">login</button>
    </form>
</div>
</div>
